a
{
	color: blue;
}
p
{
	Margin: 3%;
	color: #e24638;
	text-align: justify; 
	font-size: 16pt;
	margin-bottom: 3%;
}
h1{
	margin: 2%;
	color: #e24638;
	font-size: 28pt;
}
h2{
	margin: 2%;
	color: #e24638;
	font-size: 24pt;
}
h3{
	margin: 2%;
	color: #e24638;
	font-size: 20pt;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dbdbdb;
}
/*this is for the navbar*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    background-color: #e24638;
}


li a:hover {
    background-color: #111;
}
body {
	background-image: url("Images/back.jpg");
	background-color: white;
	background-size: 100%;
    
}
.stuff
{
	float: left;
}
#stuff2
{
	float: right;
	margin-left: 3%;
}
.back
{
	background: #dbdbdb;
	margin-left: 5%;
	margin-right: 5%;
}
.center
{
	text-align: center;
	
} /* This centers the text*/
.title
{
	text-align: center;
	font-size: 72pt;
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold;
} /*this is for the title*/
img
{
	Margin-right: 2%;
	border: solid; 
} /*this is for the picture*/
.list{
	color: #e24638;
	font-size: 16pt;
}
    
    
    
    